
@import 'footer';
$padding: 250px;
$margin: 5px;

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    article{
        background-color: #f0ead2;
        padding: $padding/10;
        margin: $margin*4;
    }
}